<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Add a new business contact</h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Contact name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Contact name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Username</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter the Username"
                    name="author" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter Contact Number"
                    name="published" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Email</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter Email Address"
                    name="description" required></textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Rank</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter Rank"
                    name="price" required>
                </div>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/book-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>
</div> </div> 
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>