<!--About page-->
<% if (title == "About"){ %>
    <img src="/images/pic.jpg" alt="" height=280  width=220 > <!--image of Student-->
  <div class= about>
  <a href="https://ibb.co/qyhg4Gp" target="_blank" rel="noopener noreferrer"><button class="btn_ban_1 text-uppercase">
    View PDF Resume <!--link of resume-->
</button></a>
  <br>
  <p><h6> My name is Raisa. I am a dependable web developer who is able to do multitask on a daily basis. I am up for taking new challanges and solve problems that I face. I use creative approaches to solve problems. My
    work schedule is flexible and I am able to do extra hours, sometimes during the weekends too. As a harworking and honest individual, I always finish my work on time and never miss the deadlines.
  </h6></p> <!-- Details-->
  <br/>
  <br/>
</div>
  <br/>
  <body>    
<%  } %>