<!-- Home Page -->

<% if (title == "Home"){ %>
    <h4>Express Portfolio Site</h4> </br>
    <h6>Making portfolio sharing easier and presentable</h6>  </br>
    <a href="http://localhost:3000/about">
      <button class="btn_ban_1 text-uppercase">
      About me
      </button></a>
          
  <%  } %> 
