<!-- Home Page -->

<% if (title == "Home"){ %>
  <div class="tm-bg-circle-white tm-flex-center-v">
    <h4>Express Portfolio Site</h4> </br>
    <h6>Making portfolio sharing easier and presentable</h6>  </br>
    <a href="http://localhost:3000/about">
      <button class="btn_ban_1 text-uppercase">
      About me
      </butt<on></a>
      </div>
      <br/><br/><br/><br/>

      <h3>User Login Form</h3><br/>
<button class="btn_ban_1 text-uppercase" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">
  Login
</button>

<div id="id01" class="modal"> 
  <form class="modal-content animate" action="/action_page.php" method="post">
    

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      
      <div class="tm-bg-circle-white tm-flex-center-v">
      <button class="btn_ban_1 text-uppercase">
        Login
      </button></div>
      
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/>
  <%  } %> 
