<!-- Projects Page-->
<% if (title == "Projects"){ %>
    <section id="full_service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 sec_title">
                <h3 >Experiences. Past Projects. Portfolio.</h3>
                <h8>Over the years, I have worked on multiple projects<br/>Out of many different works, some of the remarkable
                  projects are described below</h8> 
            </div>
        </div>
    <div class="row">
        
        <div class="col-md-3 col-lg-4">                  
            <div class="row">
                <div class="col-lg-3 pl-0">
                    
                </div>
                <div class="col-lg-9 pl-0">
                    <div class="serv_all text-center">
                  
                  <h3>Project 1: Android App for Hospital booking</h3>
                  <p> <b>One stop solution for pre booking of hospital bed and doctor's appointment</b> 
                    <img src="images/app.jpg" width="250" height="200"></p> 
                
                    <a href="https://play.google.com/store/apps/details?id=qtc.project.hospitalbooking&hl=en&gl=US" target="_blank" rel="noopener noreferrer">
                      Informations on technology used in this project</a>
                    <br>
                    <p> <b>Details: </b></p>
                   <p>
                    This app was developed for an Android academic course. It has options for user to insert patient's details and symptoms
                    and book a cabin before arrival to the hospital. It saves hassle before patient gets admitted and ensures quick health care service
                   </p>
            </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-4">                  
            <div class="row">
                <div class="col-lg-3 pl-0">
                    <a class="navbar-brand" href="#">
         </a>
                </div>
                <div class="col-lg-9 pl-0">
                    <div class="serv_all text-center">
                  
                      <h3>Project 2: Home security automation System</h3>
                      <p> <b>An automated home security system that senses motions and takes action accordingly</b>
                        <img src="images/fpgi.png" width="250" height="200"></p> 
                    
                        <a href= "https://create.arduino.cc/projecthub/jithinsanal1610/home-automation-using-arduino-arduino-diy-project-6c03ba" target="_blank" rel="noopener noreferrer">Informations on technology used in this project</a>
                        <br>
                        <p> <b>Details: </b></p>
                       <p>
                        A Home Automation System where Arduino is used to 
                        control electrical devices like lights, fans, garage doors etc using our mobile phone 
                        from distant location. A motion sensor was used to turn devices on and off and an alarm is used to detect intruders.
                       </p>
            </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-lg-4">                  
            <div class="row">
                <div class="col-lg-3 pl-0">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="col-lg-9 pl-0">
                    <div class="serv_all text-center">
                      <h3>Project 3: E commerce website for daily needs</h3>
                      <p> <b>Shopping at your doorstep in one click. Easy online shopping website: E-commerce site.</b> 
                        <img src="images/web.jpg" width="250" height="200"></p> 
                    
                        <a href="url" target="_blank" rel="noopener noreferrer">Informations on technology used in this project</a>
                        <br>
                        <p> <b>Details: </b></p>
                       <p>
                        An E-commerce website built in angular, javascript, html, css, bootstrap where user can view products,
                        select items to buy in a cart, purchase and make payment providing delivery details. 
                       </p>
            </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</section>
<%  } %>