<!-- services-->
 <% if (title == "Services"){ %>
    
    <img src="images/srv.png" width="450" height="300"></p> 
    
    <h1><u>Proramming languages:</u></h1>
    <h2>Python</h2>
    <h2>Java</h2>
    <h2>Ruby</h2>
    <h2>Swift</h2>    

  <br>
  <br>
  <br></p>
<%  } %>