@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');

a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
/*text decoration*/
h1, h2, h3, h4, h5, h6, p{
    font-size: 13px;
    padding: 10;
    margin: 0;
    padding-bottom: 10; 
    font-family: 'Lato', 'Source Sans Pro';  
}
.button{
  font-family: 'Lato', 'Source Sans Pro';
  background-color: #4e5c6c;
  border: none;
  color: #92a0ae;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 23px -2px;
  cursor:default; 
}
.centered h7{
    font-weight: 600;
    font-family: 'Lato', 'Source Sans Pro';   
}
.container {
  position: relative;
  text-align: center;
  color: #506a85;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding: 16px;
}
.centered {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
  color: #6c6c6c;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
p, ul {
  line-height: 2;
  font-weight: 300;
}
.btn {
  padding: 10px 30px;
  font-size: 1.15rem;
  font-weight: 300;
  border-radius: 8px;
}
a.btn:hover {
  color: white;
  text-decoration: none;
}
html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
#wholepage{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
}
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
body {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fff4e6;
  overflow: hidden;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  transition: all 0.5s;
}
.container {
  position: relative;
  width: 600px;
  margin: 30px auto 0;
  height: 320px;
  background-color: #854442;
  top: 50%;
  margin-top: -160px;
  transition: all 0.5s;
}
.btn, .info-btn {
  display: block;
  border: none;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background-color: #be9b7b;
}

.info-btn {
  padding: 5px 10px
}
.btn:hover {
  opacity: 0.7;
}
.btn, input {
  padding: 10px 15px;
}
 input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
}
.container-info {
  font-size: 0;
}
.info-item {
  text-align: center;
  width: 300px;
  height: 320px;
  display: inline-block;
  color: #fff;
}
.info-item p {
  font-size: 20px;
  margin: 20px;
}
.info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}
.info-item .table-cell {
  padding-right: 35px;
}
.info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.container-form .btn {
  margin-top: 30px;
}
.form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.7s;
}
.form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container.log-in .container-form {
  left: 265px;
}
.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container.log-in .container-form .form-item.log-in {
  top: -100%;
  opacity: 0;
}